<div class="holder">
  <%= partial "modules/artists/description" %>
  <%= partial "modules/artists/navigation" %>
</div>
<section class="holder artist_navigation_content">
  <%= partial "modules/artists/mixes" %>
</section>