/*
 | ------------------------------------------------------------
 |  Mixes.csss
 |
 |  Contains the stylesheet of artists mixes module
 | ------------------------------------------------------------
 |*/

.artist_mixes_list {
  width: 100%;
  height: 100%;
  list-style: none;
  overflow: hidden;

  li {
    margin-bottom: 1.2em;
    padding-right: 1.2em;
    @include translate3d(0);
    display: inline-block;
    vertical-align: top;
    width: 33%;
  }
}

.artist_mixes_list_cover {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;

  img {
    @include border-radius(3px);
    width: 5em;
    height: 5em;
    max-width: 100%;
    margin-right: 0.625em; 
    -webkit-box-flex: 1.0;
    border: 1px solid #e9e9e9;
    padding: 0.225em;
  }

  .artist_mixes_list_title {
    font-size: 0.9em;
    color: $color_gray_dark;
    -webkit-box-flex: 1.0;
  }
}