/*
 | ------------------------------------------------------------
 |  Tweets.csss
 |
 |  Contains the stylesheet of artists tweets module
 | ------------------------------------------------------------
 |*/

.artist_tweets_list {
  width: 100%;
  height: 100%;
  list-style: none;
  overflow: hidden;

  li {
    margin-bottom: 1.2em;
    padding-right: 1.2em;
    @include translate3d(0);
    width: 33%;
    display: inline-block;
    vertical-align: top;
  }
}

.artist_tweets_list_cover {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;

  img {
    width: 3em;
    height: 3em;
    max-width: 100%;
    margin-right: 0.625em; 
    -webkit-box-flex: 1.0;
  }

  .artist_tweets_list_title {
    font-size: 0.9em;
    color: $color_gray_dark;
    -webkit-box-flex: 1.0;
  }
}