<section class="artists_preview">
  <div class="artists_preview_list"></div>
  <p class="center"><a href="#" class="next button">ver mais <i class="icon_arrows_ccw icon_right"></i></a></p>  
</section>