/*
 | ------------------------------------------------------------
 |  Definitions.css
 |
 |  Contains all definitions used in application
 | ------------------------------------------------------------
 |*/

/*
 | ------------------------------------------------------------
 |  Set box sizing for all elements
 | ------------------------------------------------------------
 | */

* { @include box-sizing(border-box); }

/*
 | ------------------------------------------------------------
 |  Hide the all legend and hr elements
 | ------------------------------------------------------------
 | */

legend, hr { display: none; }

/*
 | ------------------------------------------------------------
 |  Colors used into application
 | ------------------------------------------------------------
 | */

$color_gray_light : #f5f5f5;
$color_gray_dark  : #666666;
$color_gray       : #e6e6e6;
$color_purple     : #5600c8;
$color_white      : #ffffff;

/*
| ------------------------------------------------------------
|  default spaces
| ------------------------------------------------------------
| */

$space_size_1 : 0.3125em;
$space_size_2 : 0.625em;
$space_size_3 : 1.25em;
$space_size_4 : 2.5em;

/*
| ------------------------------------------------------------
|  default font sizes
| ------------------------------------------------------------
| */

$font_size_1: 0.75em;
$font_size_2: 1.6875em;
$font_size_3: 3em;
$font_size_4: 4.5em;

/*
| ------------------------------------------------------------
|  holder class
| ------------------------------------------------------------
| */

 .holder {
  max-width: 61.75em;
  margin: auto;
 }

 /*
| ------------------------------------------------------------
|  Titles / Headings class
| ------------------------------------------------------------
| */

.title { font-family: Helvetica; }

.title_small  { font-size: $font_size_1; }
.title_medium { font-size: $font_size_2; }
.title_large  { font-size: $font_size_3; }
.title_bigger { font-size: $font_size_4; }