/*
 | ------------------------------------------------------------
 |  Definitions.css
 |
 |  Contains all definitions used in application
 | ------------------------------------------------------------
 |*/

/*
 | ------------------------------------------------------------
 |  Set box sizing for all elements
 | ------------------------------------------------------------
 | */

* { @include box-sizing(border-box); }

/*
 | ------------------------------------------------------------
 |  Hide the all legend elements
 | ------------------------------------------------------------
 | */

legend { display: none; }

/*
 | ------------------------------------------------------------
 |  Colors used into application
 | ------------------------------------------------------------
 | */

$color_gray_light : #f5f5f5;
$color_gray_dark  : #666666;
$color_gray       : #e6e6e6;
$color_purple     : #5600c8;
$color_white      : #ffffff;

/*
| ------------------------------------------------------------
|  default spaces
| ------------------------------------------------------------
| */

$space_size1 : 0.3125em;
$space_size2 : 0.625em;
$space_size3 : 1.25em;
$space_size4 : 2.5em;

/*
| ------------------------------------------------------------
|  holder class
| ------------------------------------------------------------
| */

 .holder {
  max-width: 61.75em;
  margin: auto;
 }