/*
 | ------------------------------------------------------------
 |  Definitions.css
 |
 |  Contains all definitions used in application
 | ------------------------------------------------------------
 |*/

/*
 | ------------------------------------------------------------
 |  Colors used into application
 | ------------------------------------------------------------
 | */

$color_gray_light : #f5f5f5;
$color_gray_dark  : #666666;
$color_gray       : #e6e6e6;
$color_purple     : #5600c8;
$color_white      : #ffffff;

 /*
 | ------------------------------------------------------------
 |  default spaces
 | ------------------------------------------------------------
 | */

$space_size1 : 0.3125em;
$space_size2 : 0.625em;
$space_size3 : 1.25em;
$space_size4 : 2.5em;

 /*
 | ------------------------------------------------------------
 |  holder
 | ------------------------------------------------------------
 | */

 .holder {
  width: 60%;
  margin: auto;
 }