// Grid ----------------------------------------------------------------------

// A Fluid Grid based on 960gs
$total-columns : 12;
$column-width  : 3.750em;
$gutter-width  : 1.250em;
$grid-padding  : 10px;

// Make it fluid!
$container-width: 60%;
