/*
 | ------------------------------------------------------------
 |  Cards.css
 |
 |  Contains the stylesheet of artists cards module
 | ------------------------------------------------------------
 |*/

.artists_preview {
  line-height: 0;
  -webkit-column-width: 15.75em;
  -webkit-column-count: 10;
  -webkit-column-gap: 0px;
  -webkit-column-fill: auto;
  -webkit-column-break-inside: avoid;
  width: 100%;
  height: 100%;
}

 .artists_card {
  position: relative;
  @include translate3d(0);

  .artists_card_legend {
    @include transition(all 200ms ease-in-out);
    position: absolute;
    top: 0;
    left: 0;
    background: $color_purple;
    width: 100%;
    height: 100%;
    display: inline-block;    
    opacity: 0;
    color: $color_purple;
    line-height: 1.3em;
    vertical-align: middle;
    padding: 0.625em;
    color: #fff;
    font-weight: bold;
    font-size: 2em;
  }

  img {
    @include transition(all 200ms ease-in-out);
    width: 100% !important;
    max-width: 100% !important;
    max-height: 100% !important;
  }

  &:hover {
    .artists_card_legend {
      opacity: 0.85;
      @include scale(0.92);
    }

    img {
      @include scale(0.92);
    }
  }
}