<figure class="artist_photo">
  <img src="<%= data.image[ 4 ][ '#text' ] %>">
  <figcaption class="card_artists_legend"><%= data.name %></figcaption>
</figure>
<h1><%= data.name %></h1>
<p><%= data.bio.summary %></p>