<h1 class="title_small">Artistas Relacionados</h1>
<ul class="artist_similar_list">
  <% _.each(data, function( item ) { %>
    <li>
      <a href="/a/#!/<%= item.name %>">
        <figure>
          <img src="<%= item.image[ 2 ][ '#text' ] %>">
          <figcaption><%= item.name %></figcaption>
        </figure>
      </a>
    </li>
  <% }) %>
</ul>