<ul>
  <% _.each(data, function(item) { %>
    <li>
      <img src="<%= item.profile_image_url %>" alt="<%= item.from_user %>">
      @<%= item.from_user %><br>
      <%= item.text %>
    </li>
  <% }) %>
</ul>