<h2>Total de <%= data.total %> vídeo(s)</h2>
<ul>
  <% _.each(data.video, function(item) { %>
    <li>
      <figure class="">
        <img src="<%= item.image_url %>" alt="<%= item.title %>">
        <figcaption class=""><%= item.title %></figcaption>
      </figure>
    </li>
  <% }) %>
</ul>