<ul class="artist_videos_list">
  <% _.each(data.video, function(item) { %>
    <li>
      <figure class="artist_mixes_videos_cover">
        <img src="<%= item.image_url %>" alt="<%= item.title %>">
        <figcaption class="artist_videos_list_title"><%= item.title %></figcaption>
      </figure>
    </li>
  <% }) %>
</ul>