<header>
  <hgroup>
    <h1><%= data.app.title %></h1>
  </hgroup>
  <form action="#" method="get" accept-charset="utf-8" id="search_form">
    <fieldset>
      <legend>Faça sua busca</legend>
      <input type="text" id="search_field" name="search_field" placeholder="<%= data.app.search_value %>">
    </fieldset>
  </form>
</header>