  <section id="player_videos">
    <h3>2 Brothers on the 4th Floor - Let me be Free</h3>
    <dl class="social_options">
      <dt>Compartilhe</dt>
      <dd>facebook</dd>
      <dd>twitter</dd>
      <dd>gplus</dd>
    </dl>
  </section>

  <hr>

  <section id="videos">
    <ul>
      <li>
        <figure>
          <img src="#" alt="#">
          <figcaption>figcaption</figcaption>
        </figure>
        <h2>title</h2>
        <ul class="counters">
          <li>2000 views</li>
          <li>1000 likes</li>
        </ul>
        <time>30:00min</time>
      </li>
    </ul>
  </section>