<section class="styleguide">
  <header>
    <h1>Styleguide - Eurodance.com.br</h1>    
  </header>

  <hr>
  <div id="headings">
    <h2>Headings</h2>
    Titles    
  </div>
  <hr>

  <hr>
  <div id="cards">
    <h2>Cards</h2>
    <%= partial "modules/cards" %>    
  </div>
  <hr>  
</section>
