<section class="artist_mixes">
  <div class="artist_mixes_content">
    <ul class="artist_mixes_list"></ul>
  </div>
  <p class="center"><a href="#" class="next button">ver mais <i class="icon_arrows_ccw icon_right"></i></a></p>
</section>