<nav class="artist_navigation">
  <ul class="artist_navigation_links">
    <li><a href="#" class="active">mixes</a></li>
    <li><a href="#">videos</a></li>
    <li><a href="#">fotos</a></li>
    <li><a href="#">eventos</a></li>
    <li><a href="#">tweets</a></li>
    <li><a href="#">social</a></li>
    <li><a href="#">mp3</a></li>
  </ul>
</nav>