<nav class="artist_navigation">
  <ul class="artist_navigation_links">
    <li><a href="#" class="active artist_navigation_links_mixes">mixes</a></li>
    <li><a href="#" class="artist_navigation_links_videos">videos</a></li>
    <li><a href="#" class="artist_navigation_links_photos">fotos</a></li>
    <li><a href="#" class="artist_navigation_links_events">eventos</a></li>
    <li><a href="#" class="artist_navigation_links_tweets">tweets</a></li>
    <li><a href="#" class="artist_navigation_links_social">social</a></li>
    <li><a href="#" class="artist_navigation_links_mp3">mp3</a></li>
  </ul>
</nav>