<section class="artist_tweets">
  <div class="artist_tweets_content">
    <ul class="artist_tweets_list"></ul>
  </div>
  <p class="center"><a href="#" class="next button">ver mais <i class="icon_arrows_ccw icon_right"></i></a></p>
</section>